<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <ion-title>Sobre</ion-title>
        <ion-img src="assets/em01.jpg" slot="end" class="logo-geral"></ion-img>
    </ion-toolbar>
</ion-header>

<ion-content class="ion-padding-horizontal">

    <h2>Quem somos?</h2>
    <p>Somos estudantes do senac,criando um projeto para a conclusão do curso, que visa ajudar pessoas com problemas, a princípio, caseiros.</p>
    <p></p>
    <p>
        A Good Jobs,oferece um aplicativo onde pessoas podem disponibilizar serviços ou problemas para outras pessoas resolverem, de forma fácil, simples e eficaz!
    </p>


</ion-content>